{extend name="pub/base" /}
{block name="seo"}
<title>{$tag}漫画-{$site_name}</title>
{/block}
{block name="content"}
{include file="pub/tab" /}
<!--分类列表-->
<div class="sr_top sr_top2">
    <a href="/" class="sr_back" id="goBack">
        <i></i>
        <span>{$tag}</span>
    </a>
</div>


<ul class="sr_ul">
    {volist name="books" id="vo"}
    <li>
        <a href="/book/{$vo.id}">
            {if empty($vo.cover_url)}
            <img src="{$img_site}/static/upload/book/{$vo.id}/cover.jpg" class="fl">
            {else /}
            <img src="{$vo.cover_url}" class="fl">           
            {/if}

            <div class="sr_tit">
                <h2>{$vo.book_name}</h2>
                <h3>作者：{$vo.author.author_name}</h3>
                <p>{$vo.summary}</p>
            </div>
        </a>
    </li>
    {/volist}
</ul>

<div class="pager">
    {$books|raw}
</div>

{include file="pub/foot" /}
{/block}